*{
	margin:0;
	padding:0;
}
body{
	height:100%;
}
.navbar-default{
	background:#0097cf;
	margin-bottom:0px;
	.navbar-header{
		.navbar-brand{
			color:#fff;
		}
	}
}
.navbar li a{
	color:#fff !important;
}
.navbar-default{
	.navbar-text{
		color:#fff;
		margin-right:10px;
	}
}
.container{
	height:auto;
	.text{
		height:50px;
		.txt{
			height:50px;
			line-height:50px;
			float:left;
			color:#0097cf;
		}
		.int{
			height:50px;
			float:left;
			padding-top:10px;
			box-sizing:border-box;
			input{
				border:1px solid #dfdfe1;
				border-radius:5px;
			}
		}
	}
	.main{
		width:100%;
		height:200px;
		margin-top:10px;
		.left{
			height:100%;
			float:left;
			dl{
				width:100%;
				border:1px solid #dfdfe1;
				border-radius:5px;
				height:auto;
				dt{
					width:100%;
					height:180px;
					img{
						width:100%;
						height:100%;
					}
				}
				dd{
					width:100%;
					height:20px;
					line-height:20px;
				}
			}
		}
		.center{
			height:100%;
			border:1px solid #dfdfe1;
			border-radius:5px;
			float:left;
			p{
				height:30px;
				line-height:30px;
			}
			.uls{
				height:auto;
				li{
					padding:5px 0;
					box-sizing:border-box;
					height:auto;
					span{
						font-size:12px;
					}
				}
			}
		}
		.right{
			width:30%;
			height:100%;
			border:1px solid #dfdfe1;
			border-radius:5px;
			float:left;
			overflow-y:auto;
			margin-left:20px;
			p{
				height:30px;
				line-height:30px;
				color:#57aed9;
				border-bottom:1px solid #dfdfe1;
			}
			.uls{
				height:auto;
				li{
					height:auto;
					padding:5px;
					box-sizing:border-box;
					font-size:12px;
					float:left;
					border:1px solid #dfdfe1;
					margin-left:5px;
					margin-top:5px;
					position:relative;
					span{
						display:inline-block;
						width:10px;
						height:10px;
						background:#f4c600;
						text-align:center;
						line-height:10px;
						color:#fff;
						position:absolute;
						right:-5px;
						top:-5px;
					}
				}
				.on{
					border:1px solid #0097cf;
					color:#0097cf;			
				}
			}
		}
	}
	.basic{
		height:225px;
		margin-top:10px;
		p{
			height:30px;
			line-height:30px;
		}
		.table{
			td{
				border-top:none;
			}
		}
	}
	.device{
		height:200px;
		margin-top:30px;
		p{
			height:30px;
			line-height:30px;
		}
		.table{
			td{
				border-top:none;
			}
		}
	}
	.numb{
		height:120px;
		margin-top:10px;
		p{
			height:30px;
			line-height:30px;
		}
		.table{
			td{
				border-top:none;
			}
		}
	}
	.feedback{
		width:100%;
		height:200px;
		margin-top:850px;
		h3{
			height:50px;
			line-height:50px;
		}
		.box{
			width:100%;
			height:100px;
			margin-top:30px;
			dl{
				width:10%;
				float:left;
				height:70px;
				dt{
					width:100%;
					text-align:center;
					img{
						width:50%;
					}
				}
				dd{
					width:100%;
					height:30px;
					line-height:30px;
					text-align:center;
					font-size:12px;
				}
			}
		}
	}
	.biao{
		height:150px;
		margin-top:20px;
		.pp{
			height:30px;
			text-align:center;
		}
		table{
			font-size:12px;
			text-align:center;
		}
	}
	.feedback1{
		width:100%;
		height:150px;
		margin-top:20px;
		h3{
			height:50px;
			line-height:50px;
		}
		.box{
			width:100%;
			height:100px;
			margin-top:30px;
			dl{
				width:10%;
				float:left;
				height:70px;
				dt{
					width:100%;
					text-align:center;
					img{
						width:50%;
					}
				}
				dd{
					width:100%;
					height:30px;
					line-height:30px;
					text-align:center;
					font-size:12px;
				}
			}
		}
	}
	.biao1{
		height:150px;
		margin-top:80px;
		.pp{
			height:30px;
			text-align:center;
		}
		table{
			font-size:12px;
			text-align:center;
		}
	}
	.mes{
		p{
			height:30px;
			line-height:30px;
		}
		table{
			text-align:center;
		}
	}
}
